<a href="https://colab.research.google.com/github/sreejpkd/Machine-Learning/blob/master/1_ReadCleanExploredataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sklearn

import pandas as pd
import numpy as np

import datetime

In [2]:
url = 'https://raw.githubusercontent.com/sreejpkd/Datasets-Plurasight/master/cars.csv'
auto_df = pd.read_csv(url)
auto_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68                 ?
2         plymouth satellite  18.0         ?  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [3]:
auto_df = auto_df.replace('?',np.nan)
auto_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68               NaN
2         plymouth satellite  18.0       NaN  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [4]:
auto_df.isna().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [5]:
auto_df['MPG'] = auto_df['MPG'].fillna(auto_df['MPG'].mean())
auto_df['MPG'].head(5)

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: MPG, dtype: float64

In [6]:
auto_df.isna().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [7]:
auto_df=auto_df.dropna()
auto_df.shape

(387, 12)

In [8]:
auto_df.drop(['Model'], axis=1, inplace=True)
auto_df.sample(5)

      MPG Cylinders Displacement  ...  bore stroke compression-ratio
25   10.0         8          360  ...  2.97   3.23               9.4
354  31.6         4          120  ...  3.39   3.39               8.6
144  28.0         4           90  ...  3.62   2.64                 9
332  35.0         4          122  ...  3.15   3.58                 9
29   27.0         4           97  ...  3.60   3.90                 7

[5 rows x 11 columns]

In [0]:
auto_df.drop(['bore','stroke','compression-ratio'],inplace = True,axis=1)

In [10]:
auto_df.head(5)

         MPG Cylinders  ...        Year                 Origin
0  18.000000         8  ...  1970[1975]  US; Detroit, Michigan
3  16.000000         8  ...        1970                     US
4  17.000000         8  ...   1970-1972                    US]
6  14.000000         8  ...  1970[1975]  US; Detroit, Michigan
7  23.551429         8  ...        1970                     US

[5 rows x 8 columns]

In [11]:
auto_df['Year'].str.isnumeric().value_counts()

True     351
False     36
Name: Year, dtype: int64

In [12]:
auto_df['Year'].loc[auto_df['Year'].str.isnumeric()==False]

0          1970[1975]
4           1970-1972
6          1970[1975]
30      1971[1973]971
35         1971[1973]
40         1971[1973]
44         1971[1973]
49         1971[1973]
56         1972[1973]
61         1972[1973]
65         1972[1973]
68         1972[1973]
73         1972[1973]
75            1972-73
79            1972-73
82            1972-73
96          1973-1974
97         1973, 1974
102    1973, 19741973
105        1973, 1974
108        1973, 1974
112        1973, 1974
115        1973, 1974
126        1974, 1975
131        1974, 1975
134        1974, 1975
137        1974, 1975
139    1974, 19751974
142        1974, 1975
365         1982-1985
374         1982-1985
380         1982-1985
383         1982-1985
387         1982-1985
389         1982-1985
391         1982-1985
Name: Year, dtype: object

In [13]:
extr = auto_df['Year'].str.extract(r'^(\d{4})',expand =False)
extr.head()

0    1970
3    1970
4    1970
6    1970
7    1970
Name: Year, dtype: object

In [14]:
auto_df['Year'] = pd.to_numeric(extr)
auto_df['Year'].dtype

dtype('int64')

In [15]:
auto_df.head(5)

         MPG Cylinders Displacement  ...  Acceleration  Year                 Origin
0  18.000000         8          307  ...            12  1970  US; Detroit, Michigan
3  16.000000         8          304  ...            12  1970                     US
4  17.000000         8          302  ...          10.5  1970                    US]
6  14.000000         8          454  ...             9  1970  US; Detroit, Michigan
7  23.551429         8          440  ...           8.5  1970                     US

[5 rows x 8 columns]

In [16]:
auto_df['Age']= datetime.datetime.now().year - auto_df['Year']
auto_df.head(10)

          MPG Cylinders Displacement  ...  Year                 Origin Age
0   18.000000         8          307  ...  1970  US; Detroit, Michigan  50
3   16.000000         8          304  ...  1970                     US  50
4   17.000000         8          302  ...  1970                    US]  50
6   14.000000         8          454  ...  1970  US; Detroit, Michigan  50
7   23.551429         8          440  ...  1970                     US  50
8   14.000000         8          455  ...  1970                     US  50
9   15.000000         8          390  ...  1970                    US]  50
10  15.000000         8          383  ...  1970                     US  50
11  14.000000         -          340  ...  1970                     US  50
12  23.551429         8          400  ...  1970  US; Detroit, Michigan  50

[10 rows x 9 columns]

In [0]:
auto_df= auto_df.drop(['Year'],axis=1)

In [18]:
auto_df.head(1)

    MPG Cylinders Displacement  ...  Acceleration                 Origin Age
0  18.0         8          307  ...            12  US; Detroit, Michigan  50

[1 rows x 8 columns]

In [19]:
auto_df.dtypes

MPG             float64
Cylinders        object
Displacement     object
Horsepower        int64
Weight           object
Acceleration     object
Origin           object
Age               int64
dtype: object

In [20]:
auto_df['Cylinders'].isnull().values.any()

False

In [21]:
auto_df['Cylinders'].str.isnumeric().value_counts()

True     378
False      9
Name: Cylinders, dtype: int64

In [22]:
auto_df['Cylinders'].loc[auto_df['Cylinders'].str.isnumeric()==False]

11    -
22    -
32    -
42    -
51    -
58    -
69    -
82    -
89    -
Name: Cylinders, dtype: object

In [0]:
cylinders = auto_df['Cylinders'].loc[auto_df['Cylinders'] != '-']
cmean= cylinders.astype(int).mean()

In [25]:
auto_df['Cylinders']=auto_df['Cylinders'].replace('-',cmean).astype(int)
auto_df.dtypes

MPG             float64
Cylinders         int64
Displacement     object
Horsepower        int64
Weight           object
Acceleration     object
Origin           object
Age               int64
dtype: object

In [29]:
auto_df['Acceleration'] = pd.to_numeric(auto_df['Acceleration'],errors='coerce')
auto_df.dtypes

MPG             float64
Cylinders         int64
Displacement     object
Horsepower        int64
Weight           object
Acceleration    float64
Origin           object
Age               int64
Accelaration    float64
dtype: object

In [0]:
auto_df.dtypes
auto_df.drop(['Accelaration'],axis =1,inplace =True)

In [31]:
auto_df['Origin'].head(10)

0     US; Detroit, Michigan
3                        US
4                       US]
6     US; Detroit, Michigan
7                        US
8                        US
9                       US]
10                       US
11                       US
12    US; Detroit, Michigan
Name: Origin, dtype: object

In [32]:
auto_df['Origin'].unique()

array(['US; Detroit, Michigan', 'US', 'US]', 'Japan; Aichi',
       'Europe-Germany', 'Europe', 'Japan; Tokyo', 'Japan; Aichi]',
       'US; Detroit, Michigan]', 'Japan; Tokyo]', 'Japan',
       'Europe Germany'], dtype=object)

In [0]:
auto_df['Origin'] =  np.where(auto_df['Origin'].str.contains('US'),'US',auto_df['Origin'])

In [0]:
auto_df['Origin'] =  np.where(auto_df['Origin'].str.contains('Japan'),'Japan',auto_df['Origin'])

In [0]:
auto_df['Origin'] =  np.where(auto_df['Origin'].str.contains('Europe'),'Europe',auto_df['Origin'])

In [40]:
auto_df['Origin'].unique()

array(['US', 'Japan', 'Europe'], dtype=object)

In [41]:
auto_df.describe()

              MPG   Cylinders  Horsepower  Acceleration         Age
count  387.000000  387.000000  387.000000    387.000000  387.000000
mean    23.672514    5.410853  103.645995     15.573643   43.917313
std      7.736579    1.667795   38.128651      2.746260    3.668715
min      9.000000    3.000000   46.000000      8.000000   38.000000
25%     17.600000    4.000000   75.000000     13.900000   41.000000
50%     23.200000    4.000000   92.000000     15.500000   44.000000
75%     29.000000    6.000000  121.000000     17.050000   47.000000
max     46.600000    8.000000  230.000000     24.800000   50.000000

In [0]:
from google.colab import files
auto_df.to_csv('cars_processed.csv',index=False)