<a href="https://colab.research.google.com/github/sreejpkd/Machine-Learning/blob/master/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Colaboratory!</h1>


Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

In [0]:
#@title Introducing Colaboratory { display-mode: "form" }
#@markdown This 3-minute video gives an overview of the key features of Colaboratory:
from IPython.display import YouTubeVideo
YouTubeVideo('inN8seMm7UI', width=600, height=400)

## Getting Started

The document you are reading is a  [Jupyter notebook](https://jupyter.org/), hosted in Colaboratory. It is not a static page, but an interactive environment that lets you write and execute code in Python and other languages.

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

In [0]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter".

All cells modify the same global state, so variables that you define by executing a cell can be used in other cells:

In [0]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

For more information about working with Colaboratory notebooks, see [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb).

## More Resources

Learn how to make the most of Python, Jupyter, Colaboratory, and related tools with these resources:

### Working with Notebooks in Colaboratory
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 in Colab](/notebooks/tensorflow_version.ipynb)

### Working with Data
- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb) 
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

### Machine Learning Crash Course
These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Tensorflow concepts](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [First steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Intro to neural nets](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Intro to sparse data and embeddings](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

### Using Accelerated Hardware
- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

## Machine Learning Examples: Seedbank

To see end-to-end examples of the interactive machine learning analyses that Colaboratory makes possible, check out the [Seedbank](https://research.google.com/seedbank/) project.

A few featured examples:

- [Neural Style Transfer](https://research.google.com/seedbank/seed/neural_style_transfer_with_tfkeras): Use deep learning to transfer style between images.
- [EZ NSynth](https://research.google.com/seedbank/seed/ez_nsynth): Synthesize audio with WaveNet auto-encoders.
- [Fashion MNIST with Keras and TPUs](https://research.google.com/seedbank/seed/fashion_mnist_with_keras_and_tpus): Classify fashion-related images with deep learning.
- [DeepDream](https://research.google.com/seedbank/seed/deepdream): Produce DeepDream images from your own photos.
- [Convolutional VAE](https://research.google.com/seedbank/seed/convolutional_vae): Create a generative model of handwritten digits.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving cars.csv to cars.csv

In [0]:
import pandas as pd
import io
df = pd.read_csv(io.StringIO(uploaded['cars.csv'].decode('utf-8')))

In [4]:
df.head(10)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68                 ?
2         plymouth satellite  18.0         ?  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8
5           ford galaxie 500  15.0         8  ...  3.19    3.40               8.5
6           chevrolet impala  14.0         8  ...  3.19    3.40               8.5
7          plymouth fury iii   NaN         8  ...  3.19    3.40               8.5
8           pontiac catalina  14.0         8  ...  3.13    3.40               8.3
9         amc ambassador dpl  15.0         8  ...  3.13    3.40                 7

[10 rows x 12 columns]

In [6]:
automobile_df =df
automobile_df.count()

Model                394
MPG                  385
Cylinders            394
Displacement         394
Horsepower           394
Weight               394
Acceleration         394
Year                 394
Origin               394
bore                 394
stroke               394
compression-ratio    394
dtype: int64

In [7]:
automobile_df.describe()

              MPG  Horsepower        bore      stroke
count  385.000000  394.000000  394.000000  394.000000
mean    23.551429  104.337563    3.305025    3.289289
std      7.821598   38.449600    0.270336    0.271165
min      9.000000   46.000000    2.540000    2.070000
25%     17.500000   75.000000    3.080000    3.150000
50%     23.000000   92.500000    3.270000    3.350000
75%     29.000000  125.000000    3.580000    3.400000
max     46.600000  230.000000    3.940000    4.170000

In [10]:
automobile_df.shape
import numpy as np
automobile_df = automobile_df.replace('?',np.nan)
automobile_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68               NaN
2         plymouth satellite  18.0       NaN  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [13]:

automobile_df['MPG'] = automobile_df['MPG'].fillna(automobile_df['MPG'].mean())
automobile_df.isna().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [16]:
automobile_df = automobile_df.dropna();
automobile_df.isnull().sum()

Model                0
MPG                  0
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [23]:

automobile_df.drop(['bore','stroke','compression-ratio'],axis=1,inplace=True)
automobile_df.head(3)

    MPG Cylinders Displacement  ...  Acceleration        Year                 Origin
0  18.0         8          307  ...            12  1970[1975]  US; Detroit, Michigan
3  16.0         8          304  ...            12        1970                     US
4  17.0         8          302  ...          10.5   1970-1972                    US]

[3 rows x 8 columns]

In [0]:
automobile